body{
    background-color: #D4E3FC;
    margin: 0;
    padding: 0;
}

.header{
    text-align: center;
    font-family:Georgia, serif;
    padding: 4px 0;
    background-color: rgb(69, 88, 153);
    padding-bottom: 25px;
    margin: 0;
    border-bottom-style: solid;
    border-width: 2px;
    padding-bottom: 8px;
}


.header h1{
    color: white;
   border-color: black;
  

}


.header p{
    color: white;
    font-size: 1vw;
}
.p p1{
    max-width: 30%;
    font-size: 1.8vw;
    text-align: justify;

}

.p p2{
    max-width: 50%;
    font-size: 1.3vw;
    border-style: solid;
    line-height: 1.5;
    color: white;
    text-align: justify;
    background-color:rgb(69, 88, 153) ;
    padding: 1%;
    border-color: black;
    border-width: 1%;
}

.p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    gap: 20px;
}

.column{
    float: left;
    width: 31.33%;
    padding: 1%;
    margin-top: 1%;
    
}


.row{
    content:"";
    clear: both;
    display: table;
}

.column img {
    border: 2px solid #000;
    padding: 2px;

}
.column:nth-child(2) img {
    margin-top: 50px; 
}
 
.button{
    color:rgba(255, 255, 255, 0.822);
    background-color: rgb(89, 115, 189);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 41%;
    margin-bottom: 10px;
    cursor: pointer;
    
}

  .button:visited{
    background-color:rgb(89, 115, 189);
  }
  .button:hover{
    background-color: rgb(116, 175, 199);
    
  }

 .button2{
    color:rgba(255, 255, 255, 0.822);
    background-color: rgb(89, 115, 189);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 1px;
    margin-left:87%;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 8px;
    border-width: 2px;
  }

  .button2:hover{
    background-color: rgb(116, 175, 199);
    
  }
