body{
    background-color:  #D4E3FC;
}
.header h1{
    text-align: left;
    font-family:Georgia, serif;
    padding: 20px 0;
    background-color: rgb(69, 88, 153);
    padding-bottom: 25px;
    margin-right: 10%;
    padding-right: 5%;
    color: white;
    padding-left: 30px;
    border: solid black ;
    border-width: 2px;
    max-width: auto;
    max-height: auto;
    
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;


}

.buttons{
    display: flex;
    gap: 30px;
    margin-right: 20px;
}

.button{
color:rgba(255, 255, 255, 0.822);
background-color: rgb(89, 115, 189);
padding: 15px 30px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
flex-grow: 0;
width: auto;

}

.button:hover{
background-color: rgb(116, 175, 199);

}

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    gap: 20px;
}
.content p1{
    max-width: 20%;
    font-size: 1.3vw;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(69, 88, 153);
    color: white;
    padding: 25px;
    border-color: rgba(69, 89, 153, 0.322);
    border-radius: 30px;
}

.content p2{
    max-width: 18%;
    font-size: 1.3vw;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(69, 88, 153);
    color: white;
    padding: 25px;
    margin-right: 1%;
    border-color: rgba(69, 89, 153, 0.322);
    border-radius: 30px;
    
}
